* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;

}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: #fff;
  height: 60px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

nav ul a {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  color: #000;
  text-decoration: none;
  font-weight: 800;
  text-transform: capitalize;
}